*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container{
    width: 100%;
    max-width: 1140px;
    margin: 0   auto;
}

.hero{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: rgb(240, 240, 240); */
    padding: 1rem;
    height: 50.5rem;
    gap: 2rem;
    position: relative;
    margin-top: 2rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 8rem;
}

.info .title{
    font-size: 2rem;
}

.info .title-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 29rem;
    height: 31.1rem;
}